table {
  table-layout: fixed;
  word-wrap: break-word;
}

/* td {border: 1px #DDD solid; padding: 5px; cursor: pointer;} */
.colorrow {
  background-color: rgb(18, 236, 217);
  color: #010201e9;
  
}
